* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-family: "Open Sans",sans-serif;
}

/* NAVBAR SECTION */

#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 0.5rem;
}

#navbar ul li a:hover {
    background: #ff6347;
    border-radius: 4px;
}


/* HOME SECTION*/

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid black;
    background-image: url("./Images/deneme2.jpg");
}

#home img {
    max-width: 20%;
    height: auto;
    border-radius: 100%;
}

#home .name h2 {
    margin-top: 2rem;
    color: white;
}


/* GAMING SECTION */

#gaming {
    color: #fff;
    padding: 1rem;
}

#gaming .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gaming .items .item {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}

#gaming .items .item:hover {
    opacity: 0.8;
}

/* NEWS */

#news {
    color: #333;
    padding: 1rem;
}

.newscast {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.newscast .news {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.newscast .news .news-image {
    margin-right: 0.5rem;
    position:relative;
    width: 300px;
}



.newscast .news .news-image img {
    border-radius: 5px;
    width: 100%;
    
}

.newscast .news .news-image span {
    background: red;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 0;
}

.newscast .news .news-info .title {
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.newscast .news .news-info .discription {
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}

.newscast .news .news-info .instructor {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    opacity: 0.6;   
}

.newscast .news .news-info .rating {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    opacity: 0.6; 
}

/* CONTACTS */

#contact {
    color: #fff;
    padding: 1rem;
}

#contact .contact-form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}

#contact .contact-form ul li a {
    padding: 1rem;
    font-size: 2rem;
}

#contact .contact-form ul a:hover {
    opacity: 0.8;
}